*{
    box-sizing: border-box;
}

p, small{
    margin: 0;
}

.container{
    max-width: 1170px;
}

/* logo動畫 */
#logo_anime{
    height: 100vh;
    animation: anime_section 1s ease-in;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes anime_section{
    from{
        height: 100vh;
    }to{
        height: 0;
    }
}

#logo_anime .logo{
    background-image: url("/Moncoeur/img/logo.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: logo_in 5s;
}

@keyframes logo_in{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/* 影片或圖片 */
#banner{
    height: 100vh;
}

/* nav */
#nav{
    height: 10vh;
    top: 0;
    z-index: 999;
    background-color: white;
}

#nav .img{
    background-image: url("/Moncoeur/img/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav .nav_word{
    color: #4E4B4B;
    font-size: 22px;
}

#nav .nav_word:hover{
    color: #542569;
}

#nav a:hover{
    text-decoration: none;
}

#nav .word{
    margin-left: 25px;
    position: relative;
}

#nav .word::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    border-top:2px solid #542569;
    transition: 0.5s;
}

#nav .word::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 0;
    border-top:2px solid #542569;
    transition: 0.5s;
}

#nav .word:hover::before {
    width: 100%;
    transition: 0.5s;
}

#nav .word:hover::after {
    width: 100%;
    transition: 0.5s;
}

/* 三大區塊 */
#three_section{
    height: 90vh;
}

#three_section .overlay_box{
    top: 0;
    background-color: rgba(158, 133, 188, 0.2);
}

#three_section .col{
    padding: 0;
}

#three_section #left{
    background-image: url("/Moncoeur/img/date.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#three_section #center{
    background-image: url("/Moncoeur/img/wedding.jpg");
    background-size: 200%;
    background-position: 50% 65%;
    background-repeat: no-repeat;
}

#three_section #right{
    background-image: url("/Moncoeur/img/family.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#three_section .overlay{
    border: 1px solid white;
    color: transparent;
}

#three_section .overlay:hover{
    background-color: rgba(71, 39,102, 0.5);
    color: white;
}

#three_section a:hover{
    text-decoration: none;
}

#three_section p{
    font-size: 22px;
    font-weight: 700;
    font-family: 微軟正黑體;
    letter-spacing: 5px;
    writing-mode: vertical-lr;
}

/* 牽起他的手 */
#date{
    margin: 50px 0;
    margin: auto;
}

/* 結婚 */
#wedding{
    height: 100vh;
    background-image: url("/Moncoeur/img/bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 親友 */
#family{
    margin: 50px 0;
    margin: auto;
}

/* 消息 */
#news{
    height: 100vh;
    background-image: url("/Moncoeur/img/bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 餐桌 */
#restaurant{
    height: 90vh;
}

#restaurant #top{
    height: 20%;
}

#restaurant #bottom{
    height: 80%;
}

#restaurant a{
    text-decoration: none;
}

#restaurant .hover_effect{
    width: 25vw;
    height: 50vh;
    font-size: 55px;
    color: white;
    background-color: rgba(71, 39,102, 0.5);
    border-radius: 9999999px;
}

#restaurant .hover_effect .menu{
    letter-spacing: 27px;
}

#restaurant #bottom #left{
    background-image: url("/Moncoeur/img/restaurant_left.jpg");
    background-size: 100% 115%;
    background-position: center;
    background-repeat: no-repeat;
}

#restaurant #bottom #right{
    background-image: url("/Moncoeur/img/restaurant_right.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* 社群連結 */
#ig{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#ig #top_row, #ig #bottom_row{
    height: 50vh;
}

#ig .center{
    height: 7vh;
}

/* footer */
#footer .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

#footer{
    background-color: #462765;
}

#footer #footer_top{
    margin-bottom: 2.5rem;
}

#footer a{
    font-size: 22px;
    color: rgba(255,255,255, 0.6);
}

#footer a{
    text-decoration: none;
}

#footer #footer_centerword{
    font-size: 20px;
    letter-spacing: 7px;
    line-height: 50px;
    font-family: Helvetica, Arial, "Microsoft YaHei", STHeitiSC-Light, simsun, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
}

#footer .hr{
    width: 1px;
    height: 35px;
    background-color: #231815;
}

#footer hr{
    margin: 0;
    color: #462639;
}

#footer #copyright{
    color: #858585;
    font-size: 18px;
    letter-spacing: 7px;
    font-family: Helvetica, Arial, "Microsoft YaHei", STHeitiSC-Light, simsun, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
}