*{
    box-sizing: border-box;
}

p, small, hr{
    margin: 0;
}

#title{
    font-size: 1.5em;
    letter-spacing: 5px;
}

#small_title{
    color: rgba(71, 39,102, 0.7);
    font-size: 1em;
    letter-spacing: 5px;
}

/* logo動畫 */
#logo_anime{
    height: 100vh;
    animation: anime_section 1s ease-in;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes anime_section{
    from{
        height: 100vh;
        width: 100vw;
    }to{
        height: 0;
        width: 0;
    }
}

#logo_anime .logo{
    width: 25%;
    height: 25%;
    background-image: url("/Moncoeur/img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: logo_in 5s;
}

@keyframes logo_in{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

#logo_anime .bottom_go{
    display: none;
}

#logo_anime .scroll_down{
    display: none;
}

/* 影片或圖片 */
#banner{
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: black;
    animation: disappear 1s;
    animation-delay: 58s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    from{
        opacity: 1;
        height: 100vh;
    }to{
        opacity: 0;
        height: 0;
    }
}

#banner video{
    width: 100%;
    animation: video .5s;
    animation-delay: 5s;
}

@keyframes video{
    from{
        width: 0;
    }to{
        width: 100%;
    }
}

/* nav */
#nav{
    height: 10vh;
    min-height: 4em;
    top: 0;
    z-index: 999;
    background-color: white;
}

#nav .img{
    background-image: url("/Moncoeur/img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav .nav_word{
    color: #4E4B4B;
    font-size: 1em;
    line-height: 1em;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}

#nav .nav_word:hover{
    color: #542569;
}

#nav a:hover{
    text-decoration: none;
}

#nav .word{
    margin-left: 3vw;
    position: relative;
}

#nav .word::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    border-top: 1px solid #542569;
    transition: 0.5s;
}

#nav .word::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 0;
    border-top: 1px solid #542569;
    transition: 0.5s;
}

#nav .word:hover::before {
    width: 100%;
    transition: 0.5s;
}

#nav .word:hover::after {
    width: 100%;
    transition: 0.5s;
}

#small_nav{
    display: none;
}

/* 三大區塊 */
#three_section{
    height: 90vh;
    min-height: 35em;
}

#three_section .overlay_box{
    top: 0;
    left: 0;
    background-color: rgba(158, 133, 188, 0.2);
    padding-top: 2.5vh;
    padding-left: 1.5vw;
}

#three_section .col{
    padding: 0;
}

#three_section #left{
    background-image: url("/Moncoeur/img/date.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#three_section #center{
    background-image: url("/Moncoeur/img/wedding.jpg");
    background-size: 200%;
    background-position: 50% 65%;
    background-repeat: no-repeat;
}

#three_section #right{
    background-image: url("/Moncoeur/img/family.jpg");
    background-size: cover;
    background-position: 65% 25%;
    background-repeat: no-repeat;
}

#three_section .overlay{
    width: 95%;
    height: 97%;
    border: 1px solid white;
    color: transparent;
}

#three_section .overlay:hover{
    background-color: rgba(71, 39,102, 0.5);
    color: white;
}

#three_section a:hover{
    text-decoration: none;
}

#three_section p{
    font-size: 1.75em;
    font-weight: 700;
    font-family: 微軟正黑體;
    letter-spacing: 5px;
    writing-mode: vertical-lr;
}

/* 牽起他的手 */
#date{
    height: 90vh;
    min-height: 47em;
}

#date p{
    letter-spacing: 3px;
}

#date #top{
    height: 30%;
}

#date #small_top{
    visibility: hidden;
    height: 0;
}

#date #title{
    padding-top: 3em;
}

#date #bottom{
    height: 70%;
}

#date #left{
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

#date #left .img_box{
    height: 12em;
}

#date #left p{
    top: 13em;
    right: 0;
}

#date #center{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#date #center .img_box{
    height: 25em;
}

#date #right{
    top: -20%;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

#date #right .img_box{
    height: 12em;
}

#date #right .word{
    top: 13em;
    left: 0;
}

#date #bottom #left p{
    writing-mode: vertical-lr;
}

#date #left #img_a, #date #center #img_a, #date #right #img_a{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/date_a.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#date #left #img_b, #date #center #img_b, #date #right #img_b{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/date_b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#date #left #img_c, #date #center #img_c, #date #right #img_c{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/date_c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#date #left #img_d, #date #center #img_d, #date #right #img_d{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/date_d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#date #left #img_e, #date #center #img_e, #date #right #img_e{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/date_e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#date .swiper-button-prev{
    width: 5em;
    top: 30em;
    left: 4vw;
    background-image: url('/Moncoeur/img/left_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#date .swiper-button-next{
    width: 5em;
    top: 30em;
    right: 4vw;
    background-image: url('/Moncoeur/img/right_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#date .center_word{
    top: 29em;
    left: 50%;
    transform: translateX(-50%);
}

#date :focus {
    outline: none;
}

/* 結婚 */
#wedding{
    height: 90vh;
    min-height: 45em;
    background-image: url("/Moncoeur/img/bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

#wedding #small_top{
    visibility: hidden;
    height: 0;
}

#wedding #title{
    padding-top: 2.5em;
}

#wedding .wedding_swiper{
    height: 85%;
}

#wedding .word{
    writing-mode: vertical-lr;
}

#wedding #bottom{
    height: 70%;
}

#wedding #wedding_imgall{
    height: 5%;
    z-index: 10;
}

#wedding #bottom #leftbox{
    left: -5%;
}

#wedding #bottom #centerbox{
    left: 50%;
    transform: translateX(-50%);
}

#wedding #bottom #rightbox{
    right:-5%;
}

#wedding #bottom #leftbox p, #wedding #bottom #centerbox p, #wedding #bottom #rightbox p{
    writing-mode: vertical-lr;
    letter-spacing: 3px;
}

#wedding #leftbox #img_a, #wedding #centerbox #img_a, #wedding #rightbox #img_a{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/wedding_a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding #leftbox #img_b, #wedding #centerbox #img_b, #wedding #rightbox #img_b{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/wedding_b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding #leftbox #img_c, #wedding #centerbox #img_c, #wedding #rightbox #img_c{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/wedding_c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding #leftbox #img_d, #wedding #centerbox #img_d, #wedding #rightbox #img_d{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/wedding_d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding .swiper-button-prev{
    width: 5em;
    top: 0;
    left:35%;
    transform: translateY(-50%);
    background-image: url('/Moncoeur/img/left_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding .swiper-button-next{
    width: 5em;
    top: 0;
    right: 35%;
    transform: translateY(-50%);
    background-image: url('/Moncoeur/img/right_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#wedding :focus {
    outline: none;
}

/* 親友 */
#family{
    height: 90vh;
    min-height: 47em;
}

#family p{
    letter-spacing: 3px;
}

#family #top{
    height: 30%;
}

#family #small_top{
    visibility: hidden;
    height: 0;
}

#family #title{
    padding-top: 3em;
}

#family #bottom{
    height: 70%;
}

#family #left{
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

#family #left .img_box{
    height: 12em;
}

#family #left #left_word{
    top: 13em;
    left: 0;
}

#family #center{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#family #center .img_box{
    height: 25em;
}

#family #right{
    top: -20%;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

#family #right .img_box{
    height: 12em;
}

#family #right .word{
    top: 13em;
    left: 0;
}

#family #left #img_a, #family #center #img_a, #family #right #img_a{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/family_a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#family #left #img_b, #family #center #img_b, #family #right #img_b{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/family_b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#family #left #img_c, #family #center #img_c, #family #right #img_c{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/family_c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#family #left #img_d, #family #center #img_d, #family #right #img_d{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/family_d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#family #left #img_e, #family #center #img_e, #family #right #img_e{
    width: 100%;
    height: 100%;
    background-image: url('/Moncoeur/img/family_e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#family .swiper-button-prev{
    width: 5em;
    top: 30em;
    left: 4vw;
    background-image: url('/Moncoeur/img/left_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#family .swiper-button-next{
    width: 5em;
    top: 30em;
    right: 4vw;
    background-image: url('/Moncoeur/img/right_button.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#family .center_word{
    top: 29em;
    left: 50%;
    transform: translateX(-50%);
}

#family :focus {
    outline: none;
}

/* 消息 */
#news{
    height: 90vh;
    min-height: 45em;
    background-image: url("/Moncoeur/img/bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#news h3{
    font-size: 1.25em;
}

#small_news{
    display: none;
}

#small_money{
    visibility: hidden;
    height: 0;
}

#news #bottom{
    bottom: 0;
}

#news #bg_color{
    background-color: rgba(71, 39,102, 0.3);
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#news #news_change{
    cursor: pointer;
}

#news .news_tag_left{
    color: #542569;
    border-bottom: 2px solid #542569;
    z-index: 1;
}

#news .news_tag_left.hide{
    color: rgba(71, 39,102, 0.7);
    border-bottom: 2px solid transparent;
}

#news .news_tag_right{
    color: rgba(71, 39,102, 0.7);
    border-bottom: 2px solid transparent;
}

#news .news_tag_right.show{
    color: #542569;
    border-bottom: 2px solid #542569;
    z-index: 1;
}

#news #news_word{
    display: block;
}

#news #news_word.hide{
    display: none;
}

#news #news_word #word_section{
    padding-left: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#news #news_word #word_section:hover{
    text-decoration: none;
}

#news #news_word p{
    font-size: 1.5em;
    letter-spacing: 5px;
    color: rgba(255,255,255, 0.75);
}

#news #news_word .box{
    width: 4em;
    height: 2em;
    background-color: #542569;
    font-size: 1em;
    border-radius: 20px;
    margin-left: 3em;
    margin-right: 3em;
    letter-spacing: 5px;
}

#news #news_word .color_word{
    color: #542569;
}

#news #money_word{
    margin-left: 7em;
    display: none;
}

#news #money_word.show{
    display: block;
}

#news #money_word p{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 5px;
    color: #542569;
}

#news #money_word small{
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 7px;
    color: rgba(255,255,255, 0.75);
    margin-right: 2vw;
}

#news #money_word #line{
    width: 5px;
    max-height: 100%;
    min-height: 5em;
    background-color: rgba(71, 39,102, 0.5);
    margin-right: 3em;
}

/* 餐桌 */
#restaurant{
    height: 90vh;
    min-height: 40em;
    margin-top: 1px;
    padding-left: 0;
    padding-right: 0;
}

#restaurant #bottom .hover{
    padding-left: 0;
    padding-right: 0;
}

#restaurant #bottom .hover:hover{
    background-image: url("/Moncoeur/img/restaurant_hover.png");
    background-size: 20em 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255, 0.3);
}

#restaurant a{
    width: 50%;
    height: 100%;
}

#restaurant #restaurant_left{
    width: 100%;
    height: 100%;
    background-image: url("/Moncoeur/img/restaurant_left.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}

#restaurant #restaurant_right{
    width: 100%;
    height: 100%;
    background-image: url("/Moncoeur/img/restaurant_right.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* 社群連結 */
#ig{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#ig #ig_box{
    height: 90vh;
    min-height: 35em;
}

#ig #ig_box:hover{
    height: 90vh;
    background-color: rgba(71, 39,102, 0.5);
    background-image: url("/Moncoeur/img/ig_hover.png");
    background-size: 25em 25em;
    background-position: center;
    background-repeat: no-repeat;
}

#ig #ig_box #top_left{
    width: 49%;
    height: 49%;
    top: 0;
    left: 0;
    background-image: url("/Moncoeur/img/ig_topleft.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#ig #ig_box #top_right{
    width: 49%;
    height: 49%;
    top: 0;
    right: 0;
    z-index: -1;
}

#ig #ig_box #top_right #tr_topleft{
    width: 49%;
    height: 49%;
    top: 0;
    left: 0;
    background-image: url("/Moncoeur/img/ig_topright_tl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ig #ig_box #top_right #tr_topright{
    width: 49%;
    height: 49%;
    top: 0;
    right: 0;
    background-image: url("/Moncoeur/img/ig_topright_tr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ig #ig_box #top_right #tr_bottomleft{
    width: 49%;
    height: 49%;
    bottom: 0;
    left: 0;
    background-image: url("/Moncoeur/img/ig_topright_bl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ig #ig_box #top_right #tr_bottomright{
    width: 49%;
    height: 49%;
    bottom: 0;
    right: 0;
    background-image: url("/Moncoeur/img/ig_topright_br.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ig #ig_box #bottom_left{
    width: 49%;
    height: 49%;
    bottom: 0;
    left: 0;
    background-image: url("/Moncoeur/img/ig_bottomleft.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#ig #ig_box #bottom_right{
    width: 49%;
    height: 49%;
    bottom: 0;
    right: 0;
    background-image: url("/Moncoeur/img/ig_bottomright.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* footer */
#footer{
    background-color: #462765;
    padding-left: 0;
    padding-right: 0;
}

#small_footer{
    display: none!important;
}

#footer #footer_top{
    margin-bottom: 2em;
}

#footer a{
    font-size: 1.3em;
    color: rgba(255,255,255, 0.6);
    line-height: 1em;
}

#footer a{
    text-decoration: none;
}

#footer #footer_centerword{
    font-size: 1em;
    letter-spacing: 7px;
    line-height: 50px;
    font-family: Helvetica, Arial, "Microsoft YaHei", STHeitiSC-Light, simsun, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
}

#footer .hr{
    width: 1px;
    height: 35px;
    background-color: #231815;
}

#footer hr{
    margin: 0;
    color: #462639;
}

#footer #copyright{
    color: #858585;
    font-size: .8em;
    letter-spacing: 7px;
    font-family: Helvetica, Arial, "Microsoft YaHei", STHeitiSC-Light, simsun, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
}

/* 寬度 */
/* 寬度小於1200px */
@media (max-width:1200px){
    #three_section #center{
        background-size: 400%;
    }

    #wedding .swiper-button-prev{
        left:30%;
    }
    
    #wedding .swiper-button-next{
        right: 30%;
    }
}

/* 寬度小於1024px */
@media (max-width:1024px){
    #title{
        font-size: 1.25em;
    }
    
    #small_title{
        font-size: .75em;
    }

    #news h3, #small_money h3{
        font-size: 1.2em;
    }

    #banner{
        display: none;
    }
    
    /* logo */
    #logo_anime{
        animation: none;
    }

    #logo_anime .logo{
        width: 50%;
        height: 50%;
    }

    #logo_anime .bottom_go{
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid #542569;
        border-radius: 9999999px;
        bottom: 5em;
        position: relative;
        animation: bottom_go 5s;
    }

    @keyframes bottom_go{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    #logo_anime .fa-caret-down{
        font-size: 3em;
        color: #542569;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #logo_anime .scroll_down{
        display: block;
        position: absolute;
        bottom: 8.5em;
        color: #542569;
        font-weight: 700;
        animation: scroll_down 5s;
    }

    @keyframes scroll_down{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    /* nav */
    #nav{
        height: 0;
        min-height: 0;
        visibility: hidden;
    }

    #small_nav{
        display: block;
    }

    #small_nav .button{
        z-index: 99999;
        width: 3em;
        height: 3em;
        border-radius: 999999999px;
        background-color: white;
        border: 2px solid #542569;
        position: fixed;
        top: .5em;
        right: .75em;
    }

    #small_nav .button div{
        width: 50%;
        height: 3px;
        background-color: #542569;
        margin-top: .2em;
        margin-bottom: .2em;
    }

    #small_nav #small_nav_logo{
        display: none;
    }

    #small_nav #small_nav_logo.show{
        display: block;
        position: fixed;
        top: 0;
        height: 4.5em;
        background-color: rgb(255,255,255);
        z-index: 999;
    }

    #small_nav #sn_logo{
        display: none;
    }

    #small_nav #sn_logo.show{
        display: block;
        width: 10em;
        height: 95%;
        background-image: url("/Moncoeur/img/logo.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 999;
    }

    #small_nav #small_navword{
        display: none;
        position: fixed;
        top: 4.5em;
        z-index: 99999;
    }

    #small_nav #small_navword.show{
        display: block;
        width: 100%;
        height: calc(100vh - 4.5em);
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgb(84,37,105);
    }

    #small_nav a:hover{
        text-decoration: none;
    }

    #small_nav p{
        font-size: 1.25em;
    }

    #small_nav small{
        font-size: 1em;
    }

    /* three */
    #three_section{
        display: none;
    }

    #news #top_section, #news #bg_color{
        visibility: hidden;
    }

    #small_news{
        display: block;
        top: 0;
        left: 0;
    }

    #small_news #top{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #small_news a:hover{
        text-decoration: none;
    }

    #small_news .small_box{
        width: 85vw;
        height: 5em;
        border-radius: 25px;
        background-color: #542569;
        margin-bottom: 3vh;
    }

    #small_news .small_box p{
        font-size: 1.15em;
    }

    #small_money{
        visibility: visible;
        height: 100%;
        padding-top: 5vh;
        background-image: url("/Moncoeur/img/bg_img.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #small_news #money_about{
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #small_money #small_money_bg{
        background-color: rgba(71, 39,102, 0.3);
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    #small_money #money_word p{
        font-size: 1.15em;
        font-weight: 700;
        letter-spacing: 5px;
        color: #542569;
    }
    
    #small_money #money_word small{
        font-size: .8em;
        font-weight: 700;
        letter-spacing: 7px;
        color: rgba(71, 39,102, 0.7);
        margin-right: 2vw;
    }

    /* date */
    #date{
        height: 60vh;
        min-height: 35em;
    }
    
    #date #top{
        height: 0;
        display: none;
    }

    #date #title {
        padding-top: 0em;
    }

    #date #center{
        padding-left: 0;
        padding-right: 0;
    }

    #date #small_top{
        visibility: visible;
        height: 30%;
    }

    #date #bottom {
        height: 60%;
    }

    #date #left, #date #right{
        display: none;
    }

    #date #center .img_box {
        height: 20em;
    }

    #date .swiper-button-prev {
        top: 22.5em;
    }

    #date .swiper-button-next {
        top: 22.5em;
    }

    /* wedding */
    #wedding{
        height: 60vh;
        min-height: 35em;
    }
    #wedding #top{
        height: 0;
        display: none;
    }

    #wedding #title {
        padding-top: 0;
    }

    #wedding #small_top{
        visibility: visible;
        height: 25%;
    }

    #wedding #leftbox, #wedding #rightbox{
        visibility: hidden;
    }

    #wedding .swiper-button-prev{
        left:35%;
    }
    
    #wedding .swiper-button-next{
        right: 35%;
    }

    /* family */
    #family{
        height: 60vh;
        min-height: 35em;
    }

    #family #top{
        height: 0;
        display: none;
    }

    #family #title {
        padding-top: 0;
    }

    #family #center{
        padding-left: 0;
        padding-right: 0;
    }

    #family #small_top{
        visibility: visible;
        height: 30%;
    }

    #family #bottom {
        height: 60%;
    }

    #family #left, #family #right{
        display: none;
    }

    #family #center .img_box {
        height: 20em;
    }

    #family .swiper-button-prev {
        top: 22.5em;
    }

    #family .swiper-button-next {
        top: 22.5em;
    }

    /* restaurant */
    #restaurant{
        min-height: 35em;
        padding-left: 15px;
        padding-right: 15px;
    }

    #restaurant #bottom{
        flex-direction: column;
    }

    #restaurant a{
        width: 100%;
        height: 49%;
        flex-direction: column;
        margin-bottom: .5em;
    }

    #restaurant #bottom .hover{
        background-image: url("/Moncoeur/img/restaurant_hover.png");
        background-size: 15em 15em;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255,255,255, 0.3);
    }

    #restaurant #bottom .hover:hover{
        background-size: 15em 15em;
    }
    
    #restaurant #restaurant_left{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 100% 55%;

    }
    
    #restaurant #restaurant_right{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 100% 85%;
    }

    /* ig */
    #ig_box{
        min-height: 25em;
    }
}

/* 螢幕寬度小於768px */
@media (max-width:768px){
    /* wedding */
    #wedding .swiper-button-prev{
        left:15%;
    }
    
    #wedding .swiper-button-next{
        right: 15%;
    }

    /* ig */
    #ig #ig_box{
        height: 50vh;
    }

    #ig #ig_box:hover{
        height: 50vh;
        background-image: url("/Moncoeur/img/ig_hover.png");
        background-size: 12em 12em;
    }

    /* footer */
    #footer{
        display: none;
        height: 0;
    }
    
    #small_footer{
        display: block!important;
        text-align: center;
        background-color: #462765;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #small_footer p{
        font-size: .75em;
        letter-spacing: 7px;
    }

    #small_footer small{
        font-size: .65em;
        letter-spacing: 7px;
        color: #858585;
        font-family: Helvetica, Arial, "Microsoft YaHei", STHeitiSC-Light, simsun, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
    }

    #small_footer .no_word{
        font-size: .1em;
    }
}

/* 螢幕寬度低於550px */
@media (max-width:550px){
    #title{
        font-size: 1.25em;
    }
    
    #small_title{
        font-size: .75em;
    }

    /* banner */
    #banner{
        display: none;
    }

    /* date */
    #date{
        height: 0;
        min-height: 35em;
    }

    #date #center #img_b{
        background-position: 100% 45%;
    }

    /* wedding */
    #wedding{
        height: 0;
        min-height: 42em;
    }

    #wedding .swiper-button-prev{
        left:7%;
    }
    
    #wedding .swiper-button-next{
        right: 7%;
    }

    #wedding #centerbox #img_b{
        background-size: cover;
        background-position: 70% 100%;
    }

    #wedding #centerbox #img_d{
        background-size: cover;
        background-position: 77% 100%;
    }

    #wedding #centerbox #img_a{
        background-size: cover;
        background-position: 58% 100%;
    }

    /* news */
    #news{
        height: 70vh;
        min-height: 42em;
    }

    #news h3, #small_money h3{
        font-size: 1em;
    }

    /* family */
    #family{
        height: 0;
        min-height: 35em;
    }

    #family #center #img_b{
        background-position: 20% 100%;
    }

    #family #center #img_c{
        background-position: 60% 100%;
    }

    #family #center #img_e{
        background-position: 65% 65%;
    }

    /* ig */
    #ig #ig_box{
        height: 35vh;
        min-height: 25em;
    }
}

/* 高度 */
/* 高度低於1366px-平板 */
@media (max-height:1366px){
    #restaurant #restaurant_left{
        background-size: 150%;
        background-position: 100%;
    }
}

/* 高度等於、低於1080px */
@media (max-height:1080px){
    #restaurant #restaurant_left{
        background-size: cover;
        background-position: center;
    }
}

/* 高度等於、低於800px */
@media (max-height:800px){
    #restaurant #bottom .hover{
        background-size: 10em 10em;
    }

    #restaurant #bottom .hover:hover{
        background-size: 10em 10em;
    }
}